@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSansNarrow-Bold.woff2");
  font-display: swap;
}
ul,li, h2, h3, p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #333;
  background-color: #F2F2F2;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.page-header {
  display: flex;
  height: 65px;
  padding: 0 70px;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;

}

/* NAVIGATION */
.navigation {
  display: flex;
}
.navigation-logo-link {
  z-index: 2;
}
.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 430px;
  margin-left: 30px;
}
.navigation-item {
  position: relative;
  padding: 20px 17px;
}
.navigation-link {
  text-decoration: none;
  color: #000000;

}
.navigation-link:hover::before{
  position: absolute;
  background-color: rgba(117, 98, 87, 0.5);
  bottom: 0;
  left: 17px;
  right: 17px;
  height: 2px;
  content: "";
  z-index: 2;
}
.navigation-link-current::before{
  position: absolute;
  background-color: #756257;
  bottom: 0;
  left: 17px;
  right: 17px;
  height: 2px;
  content: "";
  z-index: 2;
}
.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
}
.navigation-user-item {
  padding: 24px 11px;
}
.navigation-item-link {
  display: block;
  min-width: 17px;
  min-height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;
  cursor: pointer;
}
.navigation-favorites-sum {
  display: block;
  width: 20px;
  height: 20px;
  left: 10px;
  bottom: 10px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 10px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  position: relative;
}
.navigation-item-search {
  background-image: url("../img/search.svg");
}
.navigation-item-favorites {
  background-image: url("../img/favorite.svg");
}
.hero {
  position: relative;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  min-height: 485px;
}
.hero::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/hero-divider.svg");
  background-repeat: no-repeat;
  content: "";
}
.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}
.hero-info {
  text-align: center;
  padding: 63px 0 90px 0;
}
.hero-info-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 31px;
  padding: 0 273px;
}
.hero-info-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
/* Advantages Block */
.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.advantages-card {
  display: flex;
}
.advantages-card.reverse-card {
  flex-direction: row-reverse;
}
.advantages-card-info {
  width: 400px;
}
.advantages-sublist {
  display: flex;
}
.advantages-list:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-sublist-item {
  width: 400px;
  padding: 182px 85px 81px 85px;
  background-size: 76px 72px;
  background-position: center top 81px;
  background-repeat: no-repeat;
}
.advantages-item svg {
  fill: #82B3D3;
}
.housing-icon {
  background-image: url("../img/housing.svg");
  background-color: rgba(131, 179, 211, 0.12);
  ;
}
.souvenire-icon {
  background-image: url(../img/souvenir.svg);
  background-color: rgba(131, 179, 211, 0.12);

}
.food-icon {
  background-image: url("../img/food.svg");
  background-color: #FFFFFF;
}
.advantages-list {
  display: flex;
}
.advantages-item {
  width: 400px;
  padding: 103px 85px 81px 85px;
  background-size: 76px 72px;
  background-position: center top 81px;
  background-repeat: no-repeat;
}
.advantages-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(even){
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-card-info {
  padding: 92px 85px;
  background-color: #82B3D3;
  color: #FFFFFF;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.advantages-desc {
  display: block;
  margin-top: 30px;
}
.advantages-number {
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  padding: 30px 0;
}
/* Are you Interested?Section */
.info-hotel {
  padding: 91px 304px 93px 304px;
}

/* Subscribe Section */
.subscribe {
  padding: 94px 200px;
  background-image: url("../img/subscribe-bg.jpg");
  color: #FFFFFF;
}
.subscribe-no-background {
  color:#000000;
  background-image: none;
}
.subscribe-form {
  display: flex;
  width: 800px;
  height: 60px;
  margin: 0 auto;
}
.subscribe-email {
  width: 600px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  padding: 20px 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;

}
.subscribe-button {
  width: 200px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.info-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.info-desc {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 56px;
}

.main-inner {
  display: flex;
  flex-direction: column;
}
.catalog-top-area {
  padding: 35px 70px 70px 70px;
  background-color: #000000;
  background-image: url("../img/subscribe-bg.jpg");
  color: #FFFFFF;
}
.inner-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
}

/* Breadcrumbs */
.breadcrumbs-list {
  display: flex;
}
.breadcrumbs-item {
  position: relative;
  margin-right: 25px;
}
.breadcrumbs-item:not(:last-child)::after{
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../img/arrow-right.svg");
  background-size: 12px 12px;
  right: -20px;
  top: 7px;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.breadcrumbs-home {
  display: block;
  width: 12px;
}
.breadcrumbs-home::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../img/breadcrumbs-home.svg");
  background-size: 12px 12px;
  top: 7px;

}
.catalog-header {
  display: flex;
  padding: 60px 0;
}

/* Catalog Filter */
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}
.catalog-filter-range {
  margin-left: auto;
}
.catalog-filter-group{
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}
.catalog-filter-left {
  display: flex;
  width: 365px;
}
.catalog-filter-left:nth-child(2){
  margin-left: auto;
}
.catalog-filter-group:nth-child(3) {
  margin-left: auto;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}
.catalog-filter-item:not(:last-child){
  margin-bottom: 16px;
}
.filter-buttons {
  display: flex;
  flex-direction: column;
}

.control {
  position: relative;
  padding-left: 39px;
}
.control-mark {
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  content: "";
}
.control-input[type="checkbox"]:hover + .control-mark {
  background: rgba(255, 255, 255, 0.6);
}
.control-input[type="checkbox"]:focus + .control-mark {
  background: rgba(255, 255, 255, 0.6);

}
.control-input[type="checkbox"]:active + .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"] +
.control-mark {
    border-radius: 50%;

}

.control-input[type="checkbox"]:checked +
.control-mark::before{
  position: absolute;
  background-image: url("../img/checkbox-tick.svg");
  width: 12px;
  height: 10px;
  background-position: center;
  left: 4px;
  top: 5px;
  content: "";
}
.control-input[type="radio"]:checked +
.control-mark::before{
  position: absolute;
  width: 10px;
  height: 10px;
  background-position: center;
  left: 5px;
  top: 5px;
  border-radius: 50%;
  background-color: #3F5E72;
  content: "";
}

/* Range bar */
.range-wrapper-inputs {
  display: flex;
  width: 288px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 4px;
}

.range-inputs-min {
  position: relative;
  width: 144px;
  border: 2px solid #FFFFFF;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  right: -1px;
}
.range-inputs-max {
  position: relative;
  width: 144px;
  border: 2px solid #FFFFFF;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left: -1px;
}
.range-inputs-min:hover,
.range-inputs-max:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  z-index:1;
}
.range-inputs-min:focus-within,
.range-inputs-max:focus-within {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.range-inputs-min:active,
.range-inputs-max:active {
    border: 2px solid #FFFFFF;
  background-color: #756257;
}


.catalog-filter-label {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 14px 0 18px;
}
.range-input-label {
  color: rgba(255, 255, 255, 0.3);
  order: 1;
}
.range-input {
  width: 60px;
  padding: 0 2px;
  font: inherit;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  appearance: textfield;
  outline: none;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
}

.range-scale {
  position: relative;
  top:20px;
  width: 287px;
  height: 4px;
  background-color:rgba(255, 255, 255, 0.3);
}
.range-bar {
  position: absolute;
  background-color: #FFFFFF;
  height: 4px;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  top: -8px;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
.range-toggle:hover {
  box-shadow: 0px 0px 10px
  rgba(0 0 0/ 0.25);
}
.range-toggle:active{
  box-shadow: 0px 7px 15px
rgba(0 0 0/ 0.4);
  outline: 2px solid #83B3D3;
}
.range-toggle:focus {
  box-shadow: 0px 0px 4px
  rgba(0 0 0/ 0.25);
  outline: 3px solid #83B3D3;
}

.toggle-min {
  left: 0;
}
.toggle-max {
  right: 0;
}
.catalog-hotels {
  padding: 0 70px;
}
.catalog-hotels-total {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.catalog-hotels-number .select-control {
  margin-left: 51px;
  width: 186px;
}

.hotel-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0 0 0;
}
.hotel-card {
  display: grid;
  padding: 20px;
  grid-template-rows: 211px min-content min-content 37px 37px 20px;
}
.hotel-card-img-link,
.hotel-card-title,
.hotel-card-rating {
  grid-column: 1 / -1;
}
.hotel-card-group {
  display: grid;
  grid-template-columns: 140px 20px 140px;
  margin-top: 16px;
}
.hotel-card-type,
.button-more
.hotel-card-rating-list{
  grid-column: 1 / 2;
}

.hotel-card-price,
.button-cart,
.hotel-rating-sum{
  grid-column: 3 / 4;
}
.catalog-sorter {
  display: flex;
  margin-left: auto;
  color: #000000;
  background-color: #FFFFFF;
}
.sorting-toggle {
  width: 48px;
  height: 48px;
  background-color: #FFF;
  border: 2px solid #E5E5E5;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  border-radius: 4px;
  cursor: pointer;;
}
.sorting-toggle-current,
.sorting-toggle:hover,
.sorting-toggle:active {
  border: 2px solid #000000;
}
.sorting-toggle:focus {
  border: 2px solid #68A2CA;
}
.sorting-toggle:not(:last-child){
  margin-right: 8px;
}
.select {
  width: 290px;
}
.select-control {
  width: 100%;
  padding: 14px 20px;
  padding-right: 48px;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  background-image: url("../img/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}
.select-control:hover,
.select-control:focus{
  border: 2px solid #68A2CA;
}
.select-control:active {
  border: 2px solid #68A2CA;
}
.select-control:disabled,
.select-control:disabled{
  border: 2px solid rgba(0 0 0/ 0.3);
  opacity: 0.3;
}
.toggle-grid-icon {
  background-image: url("../img/grid-icon.svg");

}
.toggle-list-icon {
  background-image: url("../img/list-icon.svg");
}
.toggle-card-icon {
  background-image: url("../img/card-list-icon.svg");

}
.sorting-type {
  margin-right: 70px;
}
.hotel-rating-sum {
  text-transform: uppercase;
}
/* Pagination */
.pagination {
  display: flex;
  padding: 25px 0;
  border-top: 1px #E6E6E6 solid;
}
.pagination-list {
  display: flex;
  margin-right: auto;
}
.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color:#82B3D3;
  color: #FFFFFF;
  padding: 12px 0;
  text-align: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  text-decoration: none;
}
.hotels-on-page {
  display: flex;

}
/* Blue button */
.pagination-link:hover, .button-blue:focus {
  background: #68A2CA;
}
.pagination-link:active {
  background: #82B3D3;
  color:rgba(255, 255, 255, 0.3);
}
.pagination-item:not(:last-child){
  margin-right: 8px;
}
.pagination-link.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
/* Footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 35px 75px;
  align-items: baseline;
}
.footer-socials {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
.footer-socials-item {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.footer-socials-link svg{
  fill: #83B3D3;
}
.footer-socials-link:hover svg{
  fill: #68A2CA;
}
.footer-socials-link:hover svg,
.footer-socials-link:focus svg{
  fill: #68A2CA;
}
.footer-socials-link:active svg{
  fill: rgba(104, 162, 202, 0.3);
}
/* .footer-socials-item:not(:last-child) {
  margin-right: 26px;
} */
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
}
.footer-phone:active {
  background: rgba(117, 97, 87, 0.3);
}

.footer-copyright svg {
  fill: #000000;
}
.footer-copyright:hover svg,
.footer-copyright:focus svg {
  fill: #756157;
}
.footer-copyright:active svg {
  background: rgba(117, 97, 87, 0.3);
}
/* Button */
.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  height: 37px;
}
.button-big {
  height: 60px;
}

/* Brown Button */
.button-brown {
  background-color: #756157;
}
.button-brown:hover, .button-brown:focus {
  background: #615048;

}
.button-brown:active {
  background: #756157;
  color:rgba(255, 255, 255, 0.3);

}
/* Blue button */
.button-blue {
  background: #82B3D3;

}
.button-blue:hover, .button-blue:focus {
  background: #68A2CA;
}
.button-blue:active {
  background: #82B3D3;
  color:rgba(255, 255, 255, 0.3);
}

/* Green button */
.button-green {
  background: #7DB54F;
}
.button-green:hover, .button-green:focus {
  background: #6C9E42;
}
.button-green:active {
  background: #7DB54F;
  color:rgba(255, 255, 255, 0.3);
}

.button-blue:disabled,
.button-brown:disabled,
.button-green:disabled {
  background-color: #E5E5E5;
}
.button-blue:disabled:hover,
.button-brown:disabled:hover,
.button-green:disabled:hover {
  background-color: #E5E5E5;
}
.button-blue-hotel {
  width: 544px;
  padding: 12px 0;
  margin: 0 auto;

}
.book-now-button {
  box-sizing: border-box;
  padding: 9px 15px;
  align-self: center;

}
.subscribe-button,
.catalog-submit,
.button-more,
.button-cart {
  padding: 8px 15px;
}
.button-reset {
  background-color: transparent;
  font-weight: 400;
  text-transform: inherit;
}
.button-reset:hover {
  color:rgba(255, 255, 255, 0.6);
}
.button-reset:focus {
  outline: 3px solid #81B3D2;
  border-radius: 4px;
  height: auto;
  margin-top: 7px;
}
.button-reset:active {
  color:rgba(255, 255, 255, 0.3);
}

/* Modal Popup */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.modal-hidden {
  display: none;
}
.modal {
  position: relative;
  width: 576px;
  margin: auto;
  padding: 70px 62px;
  background-color: #FFF;
  box-shadow: 0px 25px 50px 0px #00000026;
  border-radius: 30px;
}
.modal-form {
  display: grid;
  grid-template-columns: 288px 288px;
}
.date-arrival,
.date-departure {
  grid-column: 1 / 3;
}
.modal-button {
  grid-column: 1 / 3;
  margin-top: 40px;
  height: 60px;
  border-radius: 10px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}
.modal-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.modal-close-button {
  position: relative;
  background-color: #F2F2F2;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.modal-close-button:hover,
.modal-close-button:focus,
.modal-close-button:active {
  background-color: #E6E6E6;
}
.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}
.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  left: 50%;
  margin-left: -8px;
  margin-top: -1px;
  height: 2px;
  width: 16px;
  background-color: #000000;
  content: "";

}
.modal-close-button::before {
  transform: rotate(45deg);
}
.modal-close-button::after {
  transform: rotate(-45deg);
}
.field {
  margin: 0;
  padding: 13px 16px;
  font-family: inherit;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  box-sizing: border-box;
}
.field-date {
  width: 420px;
  padding-right: 50px;
  background-image: url("../img/calendar.svg");
  background-position: right 19px center;
  background-repeat: no-repeat;
}
.field-people {
  width: 133px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.field-people::-webkit-outer-spin-button,
.field-people::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
}
.form-input {
  width: 420px;
}
.input-message {
  display: block;
  margin-top: 12px;
  font-size: 16px;
  line-height: 21px;
}
.input-message.error {
  color: red;
}
.field-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}
.field-group label {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;

}
.field-group:last-of-type .form-label {
  margin-left: auto;
  margin-right: 18px;
}
.form-label-icon {
  display: flex;
}
.field-group:not(:last-child) {
  margin-bottom: 11px;
}
.spinner-field {
  position: relative;
  width: 133px;
  height: 50px;
}
.spinner-button {
  position: absolute;
  background-color: transparent;
  top: 50%;
  margin-top: -12.5px;
  height: 25px;
  width: 25px;
  border: none;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.spinner-button {
  opacity: 0.3;
}
.spinner-button:hover,
.spinner-button:focus {
  opacity: 1;
}
.spinner-button:focus {
  outline: 2px solid #83B3D3;
}
.spinner-button:active {
  opacity: 0.2;
}
.spinner-left {
  left: 13px;
}
.spinner-right {
  right:13px;
}
.spinner-left::before {
  position: absolute;
  height: 1px;
  width: 13px;
  top: 50%;
  left: 6px;
  background-color: #000000;
  content: "";
}
.spinner-right::before,
.spinner-right::after  {
  position: absolute;
  height: 1px;
  width: 13px;
  right: 6px;
  background-color: #000000;
  content: "";
}
.spinner-right::after {
  transform: rotate(90deg);
}
.info {
  align-self: center;
  margin-left: 4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #68A2CA;
  border: none;
  right: 4px;
  padding: 0;
  background-image: url("../img/info-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
